Messenger/Messenger.UI/Connected Services/MessengerService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" />
  <xs:import schemaLocation="http://localhost:8733/?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="ConnectResult" nillable="true" type="q1:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="message" nillable="true" type="q2:MessageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="FileByteStream" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filePath" nillable="true" type="xs:string" />
  <xs:element name="UploadFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="file" nillable="true" type="q4:FileDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/Message" name="FileByteStream" type="q5:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fileId" type="xs:int" />
  <xs:element name="fileName" nillable="true" type="xs:string" />
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="user" nillable="true" type="q6:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="user" nillable="true" type="q7:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="GetChatsResult" nillable="true" type="q8:ArrayOfChatDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="chat" nillable="true" type="q9:ChatDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="GetMessagesResult" nillable="true" type="q10:ArrayOfMessageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChatUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="chat" nillable="true" type="q11:ChatDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChatUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="GetChatUsersResult" nillable="true" type="q12:ArrayOfChatUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="msg" nillable="true" type="q13:MessageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="GetUserResult" nillable="true" type="q14:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="user" nillable="true" type="q15:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrationResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contactEmail" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="user" nillable="true" type="q16:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="AddContactResult" nillable="true" type="q17:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="chat" nillable="true" type="q18:ChatDTO" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="chatUsers" nillable="true" type="q19:ArrayOfChatUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="CreateChatResult" nillable="true" type="q20:ChatDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBackMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="msg" nillable="true" type="q21:MessageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBackChatAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" minOccurs="0" name="chat" nillable="true" type="q22:ChatDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>