Messenger/Messenger.UI/Connected Services/MessengerService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Messenger.BLL.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsConfirmed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOnline" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="MessageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChatId" type="xs:int" />
      <xs:element minOccurs="0" name="FileId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDelivered" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSent" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MessageId" type="xs:int" />
      <xs:element minOccurs="0" name="MessageType" type="tns:MessageType" />
      <xs:element minOccurs="0" name="SendTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SenderId" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageDTO" nillable="true" type="tns:MessageDTO" />
  <xs:simpleType name="MessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Text" />
      <xs:enumeration value="Video" />
      <xs:enumeration value="VideoWithText" />
      <xs:enumeration value="PhotoWithText" />
      <xs:enumeration value="Audio" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageType" nillable="true" type="tns:MessageType" />
  <xs:complexType name="FileDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileId" type="xs:int" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileDTO" nillable="true" type="tns:FileDTO" />
  <xs:complexType name="ArrayOfChatDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChatDTO" nillable="true" type="tns:ChatDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChatDTO" nillable="true" type="tns:ArrayOfChatDTO" />
  <xs:complexType name="ChatDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChatId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPrivateChat" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatDTO" nillable="true" type="tns:ChatDTO" />
  <xs:complexType name="ArrayOfMessageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageDTO" nillable="true" type="tns:MessageDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageDTO" nillable="true" type="tns:ArrayOfMessageDTO" />
  <xs:complexType name="ArrayOfChatUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChatUserDTO" nillable="true" type="tns:ChatUserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChatUserDTO" nillable="true" type="tns:ArrayOfChatUserDTO" />
  <xs:complexType name="ChatUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChatId" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCreator" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatUserDTO" nillable="true" type="tns:ChatUserDTO" />
</xs:schema>